.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('C:\\Users\\bianc\\OneDrive\\Desktop\\website\\images\\Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  opacity: 0.8;
}

.italianTerm {
	text-decoration: underline;
}

.translation {
	display: none;
}

.italianTerm:hover + span.translation{
	display: inline;
}

.italianTerm:hover + blockquote.translation{
	display: block;
}

.italianTerm:hover + .translation {
	background-color: #FAEBD7;
	text-decoration: none;
	padding: 0.5em;
	margin-top: 0.7em;
	border-radius: 0.5em;
}

blockquote {
  margin:revert;
}